extends layout.pug
block content
  h1 plots
  div
    a(href=`./dist/${locals.mode}/densityPlots/index.html`) Density Plots
  div
    a(href=`./dist/${locals.mode}/gaussianMixture/index.html`) Gaussian Mixture
  h1 histograms
  div
    a(href=`./dist/${locals.mode}/simple/index.html`) Simple Histogram
  div
    a(href=`./dist/${locals.mode}/threshold/index.html`) Histogram with threshold
  div
    a(href=`./dist/${locals.mode}/boxMiller/index.html`) Box-Miller Gaussian Histogram